
.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-home {
  display: flex;
}

.app-logo {
  margin: 10px;
  aspect-ratio: 1;
  pointer-events: none;
  flex-shrink: 0;
}

.navbar-tab-container {
  display: flex;
  flex-direction: row;
}

.navbar-tab-button {
  margin: 4px;
}

.navbar-tab-button:link {
  color: white;
}

.navbar-tab-button:visited {
  color: white;
}

.navbar-tab-button:hover {
  color: hotpink;
}

.navbar-tab-button:active {
  color: white;
}
